.tags-input-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.input-wrapper {
  position: relative;
}

.suggestions {
  background-color: white;
  position: absolute;
  border: 1px solid #999;
  list-style: none;
  max-height: 143px;
  padding-left: 0;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 15px;
  left: 0;
  right: 0;
  overflow-y: auto;
  font-size: 1rem;
}

.suggestions li {
  padding: 0.5rem;
}

.suggestion-active,
.suggestions li:hover {
  background-color: grey;
  color: white;
  cursor: pointer;
}
