.input-wrapper {
  position: relative;
  display: inline-block;
}

.suggestions {
  background-color: white;
  position: absolute;
  border: 1px solid #999;
  list-style: none;
  max-height: 143px;
  padding-left: 0;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 10px;
  left: 0;
  right: 0;
  overflow-y: auto;
}

.suggestions li {
  padding: 0.5rem;
}

.suggestion-active,
.suggestions li:hover {
  background-color: #008f68;
  color: #fae042;
  cursor: pointer;
}

.suggestions li:not(:last-of-type) {
  border-bottom: 1px solid #999;
}
