.welcome {
  background: #f2f2f2;
  height: 303px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  text-align: center;
  padding: 40px;
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column; */
}

h1 {
  margin: 0;
  font-weight: 400;
}

.description {
  padding: 0 30px;
  /* max-width: 250px; */
}
