@font-face {
  font-family: 'Good Sans';
  src: url('../assets/fonts/GoodSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Good Sans';
  src: url('../assets/fonts/GoodSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
