.answer-card-wrapper {
  display: flex;
  flex-direction: column;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 1.3rem;
  margin-bottom: 1rem;
  background-color: #fff;
  border-radius: 20px;
}
.answer-content {
  color: #000;
  font-size: 1.3rem;
}

.answer-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.answer-user {
  color: #e5e5e5;
  display: flex;
  align-items: center;
}
.answer-user p {
  margin-left: 0.4rem;
}

.answer-tema {
  padding: 0.5rem 1.5rem;
  background-color: #e5e5e5;
  color: #a5a5a5;
  border-radius: 20px;
}

.thumbnail-wrapper {
  width: 25px;
  height: 25px;
  background-color: #e5e5e5;
  border-radius: 50%;
}
