.header {
  height: 134px;
  width: 100%;
}

.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  flex-grow: 1;
  max-width: 500px;
  margin: 10px 57.5px;
}
